*{
    margin: 0;
    padding: 0;
}

/*Área de variáveis css*/
:root{
    --cor1: #000000;
    --cor2: #212121;
    --cor3: #ffffff;
    --cor4: #e6e6e6;
    --cor5: #838383;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-metal: 'Metal';
}

/*Fontes*/
@font-face {
    font-family: Metal;
    src: url(../fontes/RINGM___.TTF);
}
/*Geral*/
body{
    font-family: var(--fonte-padrao);
}

/*Cabeçalho*/
header{
    background-color: var(--cor1);
    height: 120px;
}

header > a > img{
    position: relative;
    display: block;
    margin: auto auto;
    top: 10px;
}

/*Menu*/
nav{
    display: flex;
    width: 80%;
    background-color: #212121;
    justify-content: space-around;
    margin: 15px auto;
    padding: 5px;
    border-radius: 10px;
}

nav > a{
    text-decoration: none;
    color: var(--cor3);
}

/*Corpo principal*/
main{
    max-width: 430px;
    margin: 20px auto;

}

/*Título principal*/
main > section > h1{
    font-family: var(--fonte-metal);
}


section > p{
    color: var(--cor3);
}
section{
    display: flex;
    background-image: url(../img/fundo.jpg);
    width: 800px;
    align-items: center;
}