*{
    margin: 0;
    padding: 0;
}

/*Área de variáveis css*/
:root{
    --cor1: #000000;
    --cor2: #212121;
    --cor3: #ffffff;
    --cor4: #e6e6e6;
    --cor5: #838383;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-metal: 'Metal';
}

/*Fontes*/
@font-face {
    font-family: Metal;
    src: url(../fontes/RINGM___.TTF);
}
/*Geral*/
body{
    font-family: var(--fonte-padrao);
    text-align: justify;
}

/*Cabeçalho*/
header{
    background-color: var(--cor1);
    height: 120px;
}

header > a > img{
    position: relative;
    display: block;
    margin: auto auto;
    top: 10px;
}

/*Menu*/
nav{
    display: flex;
    width: 80%;
    background-color: #212121;
    justify-content: space-around;
    margin: 15px auto;
    padding: 5px;
    border-radius: 10px;
    
}

nav > a{
    text-decoration: none;
    color: var(--cor3);
}

/*Corpo principal*/
main{
    max-width: 430px;
    margin: 20px auto;
}

/*Título principal*/
main > section > h1{
    font-family: var(--fonte-metal);
    color: var(--cor3);
    
}

/*Subtitulo*/
main > section > h2{
    font-family: var(--fonte-metal);
    color: var(--cor3);
    margin: 20px 0;
    padding: 5px;
    background-image: linear-gradient(to right, var(--cor2), var(--cor3));
}

/*Sessão 1*/
#sec1{
    padding: 10px;
    background-color: var(--cor2);
    border-radius: 10px;
}

#sec1 > p{
    color: var(--cor3);
}

/*Sessão 2*/
figure{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    color: var(--cor3);
}

/*Quadro*/
figure > img{
    width: 100%;
}

/*Subtítulo de h2*/
#sec2 > h3{
    margin: 15px 0;
}

/*Parágrafo*/
#sec2 > p{
    margin: 15px 0;
}

/*Vídeo*/
.video{
    max-width: 450px;
    margin: 10px;
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    color: var(--cor3);
}

.video iframe{
    width: 100%;
}

/*Sessão 3*/
/*Parágrafo*/
#sec3 > p{
    margin: 15px 0;
}


