*{
    margin: 0;
    padding: 0;
}

/*Área de variáveis css*/
:root{
    --cor1: #000000;
    --cor2: #212121;
    --cor3: #ffffff;
    --cor4: #e6e6e6;
    --cor5: #838383;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-metal: 'Metal';
}

/*Fontes*/
@font-face {
    font-family: Metal;
    src: url(../fontes/RINGM___.TTF);
}
/*Geral*/
body{
    font-family: var(--fonte-padrao);
    text-align: justify;
    background-image: url('../img/fundo-white2.jpg');
    background-attachment: fixed;
}

/*Cabeçalho*/
header{
    background-color: var(--cor1);
    height: 120px;
    box-shadow: 2px 2px 10px black;
}

header > a > .logo{
    position: relative;
    display: block;
    margin: auto auto;
    top: 10px;
}

/*Menu*/
nav{
    display: flex;
    width: 90%;
    background-color: #212121;
    justify-content: space-around;
    margin: 15px auto;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    
}

nav > a{
    text-decoration: none;
    color: var(--cor3);
    transition: 1s;
}

nav a:hover{
    text-decoration: underline;
    background-color: var(--cor3);
    color: var(--cor1);
    border-radius: 5px;
}

/*Corpo principal*/
main{
    max-width: 430px;
    margin: 20px auto;
    padding: 20px;
}

/*Título principal*/
main > section > h1{
    font-family: var(--fonte-metal);
    color: var(--cor3);
    margin: 15px;
}

/*Subtitulo*/
main > section > h2{
    font-family: var(--fonte-metal);
    color: var(--cor3);
    margin: 20px 0;
    padding: 5px;
    background-image: linear-gradient(to right, var(--cor2), transparent);
}

/*Sessão 1*/
#sec1{
    padding: 10px;
    background-image: url(../img/fundo.jpg);
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

#sec1 > p{
    color: var(--cor3);
}

/*Sessão 2*/
figure{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    color: var(--cor3);
    box-shadow: 2px 2px 10px black;
}

/*Quadro*/
figure > img{
    width: 100%;
    transition: transform 1s;
    transform: translateX(0) scale(1);
}

figure > img:focus, img:hover{
    transform: translateX(10px) scale(1.3);
}

/*Subtítulo de h2*/
#sec2 > h3{
    margin: 15px 0;
}

/*Parágrafo*/
#sec2 > p{
    margin: 15px 0;
}

/*Vídeo*/
.video{
    max-width: 450px;
    margin: 10px;
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    color: var(--cor3);
}

.video iframe{
    width: 100%;
}

/*Sessão 3*/
/*Parágrafo*/
#sec3 > p{
    margin: 15px 0;
}

/*Seção 4*/
/*Parágrafo*/
#sec4 p{
    margin: 15px 0;
}

/*Rodapé*/
footer{
    background-color: var(--cor1);
    padding: 4px;
    box-shadow: 2px 2px 10px black;
}

footer > p{
    font-family: var(--fonte-metal);
    color: var(--cor3);
    padding: 5px;
    text-align: center;
}

/*Tablets*/
@media (min-width: 768px){

/*Corpo principal*/
main{
    max-width: 750px;
    margin: 20px auto;
}  

/*Vídeo*/
.video{
    max-width: 750px;
    margin: 10px;
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    color: var(--cor3);
}

.video iframe{
    width: 100%;
    height: 350px;
}

/*Sessão 2*/
figure{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    color: var(--cor3);
    box-shadow: 2px 2px 10px black;
}

/*Quadro*/
figure > img{
    width: 100%;
    transition: transform 1s;
    transform: translateX(0) scale(1);
}

figure > img:focus, img:hover{
    transform: translateX(10px) scale(1.1);
}
}

/*Desktops e TV's*/
@media (min-width: 1024px){
/*Corpo principal*/
main{
    max-width: 1000px;
    margin: 20px auto;
} 

/*Vídeo*/
.video{
    max-width: 1000px;
    margin: 10px;
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    color: var(--cor3);
}

.video iframe{
    width: 100%;
    height: 600px;
}

/*Sessão 2*/
figure{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    color: var(--cor3);
    box-shadow: 2px 2px 10px black;
}

/*Quadro*/
figure > img{
    width: 100%;
    transition: transform 1s;
    transform: translateX(0) scale(1);
}

figure > img:focus, img:hover{
    transform: translateX(10px) scale(1.1);
}

}
